<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComboItemMapper">
	
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>  
    
    <!-- 商品列表 -->
	<select id="listAllcomboItem" parameterType="page" resultType="pd" useCache="false">
		SELECT Id ,
       		   ComboId ,
     		   ComboItemNo ,
      		   ComItemName ,
   		       Status FROM dbo.T_System_ComboItem
   		WHERE ComboId = 3
	</select>
</mapper>