<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IncomeXMapper">
	
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>    
	
	<!-- 查询普通入库单列表信息 -->
	<select id="inboundlistPage" parameterType="pd" resultType="pd" useCache="false">
		SELECT   TOP 100 PERCENT
		  wh.CreateTime ,
          wh.Id , 
          wh.IncomeBatch ,
          wh.IncomeCode ,
          wh.IncomeDate ,
          wh.IncomeType ,
          wh.InspectionId ,
          wh.Note ,
          wh.OpId ,
          wh.OpName ,
          wh.OpTime , 
          wh.RegistId , 
          wh.StatusFlag ,
          wh.SupplierId , 
          wh.WhsId ,
          w.WarehouseName AS WhsName,
          wh.ApprovalStatus
  		FROM 
			T_GYL_WhsIncome wh,T_Warehouse_Warehouse w
		where 
			wh.WhsId=w.WarehouseNo and wh.StatusFlag=1
		<if test="pd.IncomeBatch != null and pd.IncomeBatch != ''"><!-- 关键词检索 -->
			and  wh.IncomeBatch LIKE '%' + #{pd.IncomeBatch} + '%' 
		</if>
		<if test="pd.IncomeCode != null and pd.IncomeCode != ''"><!-- 关键词检索 -->
			and  wh.IncomeCode LIKE '%' + #{pd.IncomeCode} + '%' 
		</if> 
		ORDER BY IncomeDate DESC			
	</select>	
	
	<!-- 新增入库信息 -->
	<insert id="saveWhsIncome" parameterType="pd" flushCache="false">		 
 		INSERT INTO T_GYL_WhsIncome
           (IncomeCode,IncomeType,SupplierId,WhsId,IncomeBatch,IncomeDate,Note,StatusFlag,CreateTime,OpName,ApprovalStatus)
     	VALUES 
     	 (#{IncomeCode},#{IncomeType},#{SupplierId},#{WhsId},#{IncomeBatch},#{IncomeDate},
       	  #{Note},#{StatusFlag},#{CreateTime},#{OpName},#{ApprovalStatus})
        
	</insert>
	  <!-- 这个是参数的类型-->
	<insert id="saveGoodDetail"  parameterType="list" flushCache="false">		 
 		INSERT INTO T_Warehouse_GoodsDetail
           (GoodsReceiptNo,SupplierName,ProductName,BarCode,
           	Price,TotalNum,Unit,ProductNo,CategoryName,Comment)
     	VALUES
     	<!-- 这个是参数名称 -->
     <foreach item="item" index="index" collection="list" separator="," >
       	(#{item.GoodsReceiptNo},#{item.EnterpriseName},#{item.ProductName},#{item.BarCode},
       	#{item.Price},#{item.TotalNum},#{item.ComItemName},#{item.ProductNo},#{item.CategoryName},#{item.Comment})
     </foreach>   
	</insert>
	  
	 <!-- 新增库存商品信息 -->
	 <insert id="saveInventory" parameterType="pd" flushCache="false">		 
 		INSERT INTO T_Warehouse_Inventory
           (WarehouseNo,ProductBarCode,InventoryQuantity,Status)
     	VALUES
     	 (#{WarehouseNo},#{ProductBarCode},#{InventoryQuantity},#{Status}) 
	</insert> 
	  
	<!-- 修改 -->
	<update id="updateInventory" parameterType="pd" flushCache="false">
		UPDATE 
			T_Warehouse_Inventory
		SET 
		    InventoryQuantity = #{InventoryQuantity} 
		WHERE 
			Id  = #{Id}  
	</update> 
	  
 	<!-- 删除入库信息 -->
	<delete id="deleteInbound" parameterType="pd" flushCache="false"> 
		Update   
			T_GYL_WhsIncome
		set 
			StatusFlag=0
		where 
			Id = #{Id}  
	</delete> 
	
		
	<!-- 通过IncomeCode获取数据 -->
	<select id="findByBarCode" parameterType="pd" resultType="pd" useCache="false">
		 SELECT  Id ,
	         InventoryQuantity ,
	         ProductBarCode ,
	         Status ,
	         WarehouseNo
		FROM 
		   T_Warehouse_Inventory 
		WHERE 
			ProductBarCode=#{BarCode} AND WarehouseNo=#{WhsId}
	</select>
	
	<!-- 通过IncomeCode获取数据 -->
	<select id="findByIncome" parameterType="pd" resultType="pd" useCache="false">
		 SELECT 
			whs.CreateTime ,
	        whs.Id ,
	        whs.IncomeBatch ,
	        whs.IncomeCode ,
	        whs.IncomeDate ,
	        whs.IncomeType ,
	        whs.InspectionId ,
	        whs.Note ,
	        whs.OpId ,
	        whs.OpName ,
	        whs.OpTime ,
	        whs.RegistId ,
	        whs.StatusFlag ,
	        whs.SupplierId ,
	        whs.WhsId,
	        w.WarehouseName,
	        s.EnterpriseName,
	        whs.ApprovalStatus
	 	FROM 
	 		T_GYL_WhsIncome whs,T_Warehouse_Warehouse w,T_Admin_Supplier s
	 	WHERE 
	 		whs.SupplierId=s.Id AND whs.WhsId=w.WarehouseNo and IncomeCode=#{IncomeCode}  
	</select>
	
	<!-- 通过IncomeCode获取入库商品明细数据 -->
	<select id="findByGoods" parameterType="pd" resultType="pd" useCache="false">
		 SELECT BarCode ,
	        CategoryName ,
	        GoodsReceiptNo ,
	        Id ,
	        Price ,
	        ProductName ,
	        ProductNo ,
	        SupplierName ,
	        TotalNum ,
	        Unit,
	        Comment
		 FROM 
		 	T_Warehouse_GoodsDetail
		 WHERE 
		 	GoodsReceiptNo = #{IncomeCode}
	</select> 
	
	
	<!-- 修改 -->
	<update id="updateFlowStatus" parameterType="pd" flushCache="false">
		UPDATE 
			T_GYL_WhsIncome
		SET 
		    ApprovalStatus =#{auditStatus}
		WHERE 
			IncomeCode = #{ApplyNo}
	</update> 
	
</mapper>